@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&family=Zen+Dots&display=swap'); 

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
}

@media (min-width: 992px) {
    #mainNav.navbar-shrink {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #212529;
    }
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border: none;
        background-color: transparent;
        transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }
}

header.masthead {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.8) 100%),url(https://cdn.pixabay.com/photo/2020/11/02/05/56/music-5705801_960_720.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

@media (min-width: 768px){
    header.masthead {
        padding-top: 17rem;
        padding-bottom: 12.5rem;
    }
}

header.masthead .masthead-heading {
    font-size: 2rem;
    line-height: 2.5rem;
    font-family:'Zen Dots', cursive;
}

@media (min-width: 768px) {
    header.masthead .masthead-heading {
    font-size: 3rem;
    line-height: 4rem;
    }
}

.page-section {
    padding: 8rem 0;
}

.accordion-item {
    border: none;
    border-bottom: 1px solid #fff;
    background-color: rgb(30, 29, 29);
}

.accordion-body {

    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: #373737;
    color: #fff;
}

.accordion-button {
    background-color: #373737;
    color: #fff;
}

.accordion-button:focus{
    box-shadow: none;
    background-color: #373737;
    color: #fff;
}

h1 {
    font-family:'Zen Dots', cursive;
}

